# ກັອບປີ້ໄຟລ໌ນີ້ເປັນ .env ແລ້ວປ່ຽນຄ່າກ່ອນຮັນ docker compose
# Copy this file to .env and change the values before running docker compose

# python -c "from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())"
DJANGO_SECRET_KEY=
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
DJANGO_CSRF_TRUSTED_ORIGINS=

MYSQL_DATABASE=procom_db
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_HOST=db
MYSQL_PORT=3306
